﻿.logo {
    width: 75%;
}

.navbar-brand {
    width: 25%;
}

.collapse button {
    margin: 3px;
}

.bienvenida {
    margin-top: 20px;
}

.hero {
    position: relative;
}

.hero img {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.nosotros {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(36, 76, 101, 0.7);
    width: 60%;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    div.nosotros {
        width: 90%;
        padding: 0 10px;
        font-size: 12px;
    }
}


/** footer **/

footer {
    background-color: #353535;
    padding-top: 40px;
    margin-top: 20px;
}

footer .container>div {
    color: #ffffff;
    padding: 0px 20px;
    font-size: 12px;
}

.icono {
    margin-right: 20px;
}

@media only screen and (min-width: 768px) {
    footer .container>div {
        width: 50%;
        float: left;
    }
    div.direccion {
        position: relative;
    }
    div.direccion-abajo {
        width: 50%;
        position: absolute;
        float: right;
        left: 50%;
    }
}

footer h2 {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.cursosInicio {
    margin: 20px auto;
    width: 70%;
}

.card {
    margin: 10px;
}

.card img {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
}

.card-header {
    width: 20%;
}

.card-img {
    width: 20%;
}

.card-img img {
    padding: 0;
}

.card-header img {
    padding: 0;
}

.resultadosBusqueda {
    margin: 40px auto;
}

@media only screen and (max-width: 850px) {
    .card-header {
        width: 30%;
    }
    .card-img {
        width: 30%;
    }
}

.PerfilAlumno {
    width: 60%;
}

@media only screen and (max-width: 850px) {
    .PerfilAlumno {
        width: 100%;
    }
}

.vistaCurso {
    width: 70%;
    margin: 50px auto;
}

video {
    width: 100%;
    height: auto;
    border: none;
    margin: 20px;
}