﻿/************ 
//--------------------------------
// GENERAL
//-------------------------------
************/
#estudia {
    height:50%
}
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: #f2f2f2;
    font-size: 1em;
    line-height: 1.5em;
  /**  background: url("../img/fisi.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   /** background-size: cover;*/
  
}

h3,h4 {
    padding-left: 2%
    
}

/*

img {
    max-width: 100%;
    height: auto;
}
    */



/************ 
//------------------------------
// CONTENIDO
//------------------------------
************/
#main-content {
    background: white;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    min-height: 378px;
}

    #main-content header,
    #main-content .content {
        /*padding: 40px;*/
    }

.pa {
    background: white;
    width: 90%;
    margin: 60px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    min-height: 378px;
    max-width: 5000px;
}






/**GLOVO**/
.glovo {
    border-radius: 10px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
    overflow: hidden;
    margin-bottom: 10px;
    transition: .3s;
    min-width: 220px;
    display: inline-block;
    width: 220px;
    cursor: pointer;
    margin: 1em;
}

    .glovo:hover {
        will-change: transform;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        box-shadow: 2px 4px 40px 0 rgba(0,0,0,.08);
        -webkit-animation-timing-function: cubic-bezier(.075,.82,.165,1);
        animation-timing-function: cubic-bezier(.075,.82,.165,1);
    }

    .glovo .card-image {
        width: 100%;
        height: 100px;
    }


    .glovo .card-content {
        padding: 10px;
    }

        .glovo .card-content .title {
            font-size: 22px;
            color: #000;
            line-height: 24px !important;
            margin-bottom: 5px;
        }

        .glovo .card-content .description {
            color: #9b9b9b;
        }

        .glovo .card-content .star {
            font-size: 20px;
            margin-right: 1rem;
            margin-bottom: 0.5rem;
        }

.glovo .card-image > img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

#bienvenida {
   /*margin-top: 0.1%;*/
    background-color: cadetblue;
    width: 100%;
}


