﻿body {
    background:url(../img/fondo.png) no-repeat center center fixed;
    background-size:cover;
}

.user-img{
    margin-top:-50px;
    margin-bottom:35px;
}

.user-img img{
    width:100px;
    height:100px;
    border-radius:50%;
    box-shadow:0px 0px 3px #848484;
}

.main-section{
    margin:0 auto;
    margin-top:25%;
    padding:0;
}

.modal-content{
    background-color:#3b4652;
    opacity:.95;
    padding: 20px 20px;
    box-shadow:0px 0px 3px #848484;
}

.form-group input{
    height:42px;
    font-size:18px;
    border:0;
    padding-left:54px;
    border-radius:5px;
}

.form-group::before{
    font-family:"Font Awesome\ 5 Free";
    position:absolute;
    left:28px;
    font-size:22px;
    padding-top:4px;
}

.form-group#user-group::before {
    content: "\f1fa";
}

.form-group#password-group::before {
    content: "\f023";
}

button{
    width:60%;
    margin:5px 0 25px;
}

.forgot{
    padding: 5px 0;
}

.forgot a {
    color:white;
}

