/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */


/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}


/** Globales **/

.boton {
    font-family: 'Oswald', sans-serif;
    background-color: #244965;
    padding: 5px 10px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.6s ease;
    border: 2px solid;
    cursor: pointer;
}

.boton:hover {
    background-color: rgba(36, 76, 101, 0.7);
}

.contenedor {
    width: 98%;
    margin: 0 auto;
}

@media only screen and (min-width: 480px) {
    .contenedor {
        width: 95%;
    }
}

@media only screen and (min-width: 768px) {
    .contenedor {
        width: 90%;
    }
}

@media only screen and (min-width: 992px) {
    .contenedor {
        width: 90%;
        max-width: 1100px;
    }
}


/** header **/

div.contenido-header {
    padding-top: 30px;
}

a img {
    width: 20%;
}

@media only screen and (min-width: 768px) {
    div.contenido-header {
        padding-top: 10px;
    }
}

nav.navegacion {
    text-align: center;
}

nav.navegacion a {
    color: #ffffff;
    margin-right: 4%;
    font-size: 0.8em;
}

.buscar {
    margin-right: 15%!important;
}

.buscar input {
    padding: 3px;
}

.inicio-sesion {
    margin: 0!important;
}

@media only screen and (max-width: 768px) {
    nav.navegacion a {
        margin-right: 1px!important;
        font-size: 0.5em;
        padding: 1px;
    }
}

nav.navegacion a:last-child {
    margin-right: 0;
}

div.hero img {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

div.hero {
    position: relative;
}

div.nosotros {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(36, 76, 101, 0.7);
    width: 60%;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    div.nosotros {
        width: 90%;
        padding: 0 10px;
        font-size: 12px;
    }
}


/** cursos **/

section.cursos-inicio {
    padding-bottom: 20px;
}

div.cursos-individual {
    padding: 5px;
}

div.contenededor-curso {
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
}

div.contenededor-curso img {
    width: 40%;
    float: left;
}

div.descripcion-curso {
    width: 60%;
    float: right;
    padding: 0 10px;
}

@media only screen and (max-width: 768px) {
    div.contenededor-curso {
        width: 100%;
    }
    div.contenededor-curso img {
        width: 30%;
        float: left;
    }
    div.descripcion-curso {
        width: 70%;
        float: right;
        padding: 0 5px;
        font-size: 11px;
    }
}


/** footer **/

footer {
    background-color: #353535;
    padding-top: 40px;
    margin-top: 20px;
}

footer .contenedor>div {
    color: #ffffff;
    padding: 0px 20px;
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    footer .contenedor>div {
        width: 50%;
        float: left;
    }
    div.direccion {
        position: relative;
    }
    div.direccion-abajo {
        position: absolute;
        bottom: -220px;
        right: 16px;
    }
}

footer h2 {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
}


/** inicio sesion **/

.modal-contenido {
    background-color: #ffffff;
    width: 30%;
    padding: 10px 20px;
    margin: 10% auto;
    position: relative;
    color: #353535;
}

.close {
    float: right;
    color: #ffffff;
    background-color: #353535;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 50%;
    margin: 10px 5px;
}

.modal-contenido input {
    color: #353535;
    border: 2px solid;
    border-radius: 4px;
    width: 100%;
    margin-top: 20px;
    padding: 5px;
}

#boton-iniciosesion {
    width: 100%;
    padding: 10px;
}

.centrar {
    text-align: center;
    padding: 20px;
}

.centrar a {
    text-decoration: none;
}

.linea {
    border-top: 5px solid;
    height: 10px;
    width: 100%;
    padding: 0;
}

.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

@media only screen and (max-width: 768px) {
    div.modal-contenido {
        width: 90%;
    }
}


/** busqueda **/

.filtros {
    margin-bottom: 10px;
    padding: 5px 20px;
}

.curso-busqueda {
    width: 100%!important;
    margin-bottom: 20px;
}

.curso-busqueda img {
    width: 30%!important;
    margin: 5px 20px;
}

.busqueda-alumno {
    width: 80%;
    margin: 0 auto;
}

.busquedaInicio {
    width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .busqueda-alumno {
        width: 100%;
    }
    .curso-busqueda img {
        width: 20%!important;
    }
    .busquedaInicio {
        width: 100%;
    }
}


/** Alumno **/

#nombrePerfil {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 15px;
    text-decoration: none;
    color: #000!important;
}

@media only screen and (max-width: 768px) {
    #nombrePerfil {
        padding: 7px;
    }
}

div.nosotros-alumno {
    width: 40%;
}

.irCurso {
    float: right;
    margin: 10px;
}

.formulario {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.formulario input {
    margin: 10px;
    padding: 5px;
    width: 100%;
}

.formulario textarea {
    margin: 10px;
    padding: 5px;
    width: 100%;
}

.subir {
    background-color: rgb(119, 181, 99);
}

.subir:hover {
    background-color: rgba(119, 181, 99, 0.5);
}

.cerrar {
    background-color: #bd1818!important;
}

.cerrar:hover {
    background-color: rgba(189, 24, 24, .5)!important;
}

#boton-matricularme {
    width: 100%;
    padding: 10px;
}

.fechaPago {
    margin-top: 5px!important;
}

.codigoCurso {
    margin-top: 5px!important;
}


/** mis cursos **/

.misCursos {
    width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .misCursos {
        width: 100%;
    }
}


/** temas **/

.tema {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    width: 70%;
    margin-left: 50px;
    position: relative;
    margin-bottom: 20px;
}

.boton-tema {
    position: absolute;
    left: 70%;
    top: 50%;
}

.contenido-tema {
    margin: 10px;
}

video {
    width: 100%;
    height: auto;
    border: none;
    margin: 20px;
}

.boton-volver {
    position: absolute;
    left: 85%;
    top: 15%;
}

@media only screen and (max-width: 768px) {
    .boton-volver {
        left: 72%;
    }
    video {
        margin: 0;
    }
}


/** profesor **/

.navegacion-profesor img {
    margin-right: 30%;
}


/** administador **/

.navegacion-administrador img {
    margin-right: 50%;
}

.estadisticas {
    width: 40%;
    float: left;
}

.acciones {
    width: 40%;
    float: right;
    margin-left: 10px;
}

.boton-agregar {
    width: 100%;
    margin: 10px;
    text-align: center;
    padding: 11%;
}

.caja {
    width: 100%;
    color: #fff;
    background-color: #353535;
    text-align: center;
    padding: 10%;
    margin: 20px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}


/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}


/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}


/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}